@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1_list_user{
    color: #fff;
    font-weight: normal;
}

.icon_voltar{
    height: 45px;
    width: 45px;
}

.div_btn_user{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.p_voltar{
    text-transform: none;
}

.main_listUser{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.link{
    text-decoration: none;
}

.titulo{
    color: #CB1E36;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 10px;
}

.listaResponsiva{
    display: none;
}

.tabela{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: auto;
    width: 70%;
    color: white;
    background-color: #CB1E36;
}

.button_addUser{
    margin-top: 50px;
}

.labels{
    color: white;
    height: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
}

.icones{
    width: 90%;
}

.icones tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icones button{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5px;
}

.funcoes{
    width: 200px;
    display: flex;
    justify-content: center;
}

@media (max-width:450px){

    body{
        background-color: #CB1E36;
    }
    
    .header{
        height: auto;
    }
    .container{
        padding: 0px;
    }

    .h2_list_user{
        display: none;
    }

    .h1_list_user{
        display: none;
    }

    header img{
        width: 0px;
    }
    
    .user{
       display: none;
    }

    .user2{
        width: 100px;
        display: block;
    }
    main{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tabela{
       display: none;
    }

    .listaResponsiva{
        border-radius: 20px;
        display: block;
        background-color: white;
        height: 650px;
        width: 360px;
    }

    .accordion{
        position: relative;
    }

    #button{
        display: none;
    }
}